@mixin flexBox {
    display: flex;
    flex-direction: column;
}

@mixin flexBox-2 (
    $direction,
    $justify,
    $align,
    $rowGap,
    $columnGap,
    $wrap
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    row-gap: $rowGap;
    column-gap: $columnGap;
    flex-wrap: $wrap;
}

@mixin flexBox-3 (
    $direction : column,
    $justify : left,
    $align : flex-start,
    $rowGap : 0px,
    $columnGap : 0px,
    $wrap : nowrap
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    row-gap: $rowGap;
    column-gap: $columnGap;
    flex-wrap: $wrap;
}