@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

$defaultFontFamily : "Nunito", sans-serif;
$defaultColor : #AB2F52;
$btnIconsColor : #FFAF53;
$serviceBgColor : #FAFAFA;
$defaultBlack : #0B0A09;
$bgGradient : linear-gradient(
    to top, rgba(237, 107, 13,.9) 44%, rgba(255, 0, 95,.9) 97%
);